body {
  font-family: Arial, Helvetica, sans-serif;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

thead tr th {
  padding: 10px 0;
}

th,
td {
  border: 1px solid black;
}

.action {
  padding: 0 10px;
}

.completion-cell {
  text-align: center;
  width: 50px;
}

table:hover {
  cursor: default;
}

.achieved-cell {
  text-align: center;
  width: 100px;
}

.goal-cell {
  width: 100px;
}

.net-cell {
  width: 100px;
}

.achieved-total {
  text-align: center;
}

.edit-btn {
  background-color: yellow;
}

.exit-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 10px 0;
}

#exit-modal-btn {
  display: inline-block;
  text-align: center;
  background: none;
  border: none;
}

#exit-modal-btn:hover {
  cursor: pointer;
}

.edit-window-inputs-container {
  padding-bottom: 10px;
}

#submit-habit-btn {
  background-color: #0add08;
  padding: 5px;
  border: none;
  margin-bottom: 10px;
}

#submit-habit-btn:hover {
  cursor: pointer;
}

#delete-habit-btn {
  background-color: #f87858;
  padding: 5px;

  border: none;
}

#delete-habit-btn:hover {
  cursor: pointer;
}

.modal-window {
  position: fixed;
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.hidden-class {
  display: none;
}

#total {
  padding-right: 10px;
  text-align: right;
}

footer {
  font-family: monospace;
  position: absolute;
  bottom: 0px;
}
