* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #191919;
  --white: #ffffffcf;
  --dark-grey: #202020;
  --default: #37352f;
  --grey: #787774;
  --brown: #9f6b53;
  --orange: #d9730d;
  --yellow: #cb912f;
  --green: #448361;
  --blue: #337ea9;
  --purple: #9065b0;
  --pink: #c14c8a;
  --red: #d44c47;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

#body__main {
  transition: all 0.2s ease-in-out;
}

#main {
  background-color: var(--dark-grey);
  border: 0.8px solid #ffffff48;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
}

/* ---------- Header Properties ---------- */

.main__title {
  text-align: center;
  color: var(--white);
  font-size: 30px;
  margin: 15px 0;
}

.sub__title {
  color: var(--white);
  font-weight: 500;
  margin: -10px 0 15px 0;
}

/* ---------- Main Button Properties ---------- */

.btn {
  background-color: transparent;
  display: inline-block;
  border-radius: 4px;
  border: 0.8px solid #ffffff48;
  color: #ffffff48;
}

#btn__create,
#btn__delete {
  margin-top: 10px;
  padding: 8px 12px;
}

#btn__create:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: var(--black);
}

#btn__delete:hover {
  cursor: pointer;
  background-color: var(--red);
  color: var(--black);
}

/* ---------- Sidebar Properties ---------- */

#sidebar {
  z-index: 100;
  margin-top: 100px;
  position: absolute;
  background-color: var(--dark-grey);
  /* width: 308px; */
  padding: 10px;
  border: 0.8px solid #ffffff48;
  transition: all 0.5s ease;
  border-radius: 4px;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px 0;
}

#sidebar__btn {
  font-size: 25px;
  padding: 10px;
  transition: margin-left 0.5s ease;
}

#sidebar__btn:hover {
  cursor: pointer;
  color: var(--grey);
}

#sidebar__exit {
  font-size: 25px;
}

#sidebar__exit:hover {
  color: var(--grey);
  cursor: pointer;
}

.input__container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input__container:nth-of-type(1) {
  margin-top: 50px;
}

.sidebar__input--title {
  margin-top: 15px;
  margin-bottom: 4px;
}

.sidebar__input {
  padding: 6px;
  border-radius: 5px;
  background-color: var(--white);
  width: 100%;
}

#btn__add {
  margin: 20px 60px 20px 60px;
  padding: 10px 0;
}

#btn__add:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
}

/* ---------- Table CSS Properties ---------- */

table {
  border-collapse: collapse;
}

th {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  padding: 8px 12px;
  text-align: left;
}

tr th:first-child {
  border-left: none;
}

tr th:last-child {
  border-right: none;
}

tr td:last-child {
  border-right: none;
}

th,
td {
  border: 0.8px solid #ffffff48;
}

.markableCell {
  text-align: center;
}

.markableCell:hover {
  cursor: default;
}

.achieved__total {
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.goal__total {
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.achieved__cell {
  text-align: center;
}

.goal__cell {
  text-align: center;
}

#total {
  padding-right: 10px;
  text-align: right;
  font-weight: 700;
}

/* ---------- Footer Properties ---------- */

footer {
  font-family: monospace;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
}

footer p a {
  color: var(--green);
  border-radius: 4px;
  padding: 0 4px;
}

footer p a:hover {
  background-color: var(--green);
  color: var(--black);
  cursor: pointer;
}

/* ---------- Media Query Properties ---------- */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media (max-width: 800px) {
}
